<link rel="stylesheet" href="~/css/erro.css">
<h2>Não foi possivel realizar o cadastro!</h2>
<p>Esses são alguns erros que podem ter acontecido!</p>
<li>
    <ul>-O nome não está completo;</ul>
    <ul>-A senha tem menos de 8 caractéres;</ul>
    <ul>-As duas senhas não coincidem;</ul>
    <ul>-Você tem menos de 18 anos;</ul>
</li>