@{
    ViewData["Title"] = "Home Page";
}

<section id="banner">
    <h1>utilize já seu controle de trabalho em casa!</h1>
</section>
<section id="PRODUT" class="produto">
    <h2>ponto digital</h2>
    <div id="semponto">
        <div class="ponto">
            <p>Lorem ipsum bibendum aliquam nisi quisque massa purus lorem platea pulvinar etiam posuere,
                blandit fusce a in sapien libero sit est nibh augue praesent, eu vestibulum dictumst eros
                hendrerit mollis proin tortor class inceptos orci. dapibus accumsan semper est habitasse
                euismod mollis, hac primis eget egestas. sagittis molestie imperdiet, hac.</p>
            <img src="~/images/çohugiitkfugihui.png" alt="">
        </div>
        <div class="ponto">
            <p>Lorem ipsum bibendum aliquam nisi quisque massa purus lorem platea pulvinar etiam posuere,
                blandit fusce a in sapien libero sit est nibh augue praesent, eu vestibulum dictumst eros
                hendrerit mollis proin tortor class inceptos orci. dapibus accumsan semper est habitasse
                euismod mollis, hac primis eget egestas. sagittis molestie imperdiet, hac.</p>
                <img src="~/images/ferramenta-crm.png" alt="">
        </div>
    </div>
</section>
</header>
<section id="PLAN" class="planos">
    <h2>planos</h2>
    <div class="planos_todo">
        <div class = "cada_plano" class="card">
            <div class="card-body">
                <h3>short</h3>
                <div class="lista_planos">
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipiscing elit;</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua;</li>
                        <li>Quis ipsum suspendisse ultrices gravida;</li>
                        <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                    </ul>
                </div>
                <p href="#" id="botaoo" class="btn-primary">R$29,90/mês</p>
            </div>
        </div>
        <div class = "cada_plano" class="card">
            <div class="card-body">
                <h3>medium</h3>
                <div class="lista_planos">
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipiscing elit;</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua;</li>
                        <li>Quis ipsum suspendisse ultrices gravida;</li>
                        <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                    </ul>
                </div>
                <p href="#" id="botaoo" class="btn-primary">R$149,90/mês</p>
            </div>
        </div>
        <div class = "cada_plano" class="card">
            <div class="card-body">
                <h3>tall</h3>
                <div class="lista_planos">
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipiscing elit;</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua;</li>
                        <li>Quis ipsum suspendisse ultrices gravida;</li>
                        <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                    </ul>
                </div>
                <p href="#" id="botaoo" class="btn-primary">R$299,90/mês</p>
            </div>
        </div>
        <div class = "cada_plano" class="card">
            <div class="card-body">
                <h3>large</h3>
                <div class="lista_planos">
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipiscing elit;</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua;</li>
                        <li>Quis ipsum suspendisse ultrices gravida;</li>
                        <li>Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>
                    </ul>
                </div>
                <p href="#" id="botaoo" class="btn-primary">NEGOCIADO</p>
            </div>
        </div>
    </div>
</section>
<section id="QUEM_SOMO" class="quem_somos">
    <h2>sobre a empresa</h2>
    <div id="img_texto">
        <img src="~/images/Imagem do grupo.png" alt="Imagem da equipe">
        <p>Justo nisl consectetuer orci, nunc nostra morbi gravida, laoreet euismod in quis sit. Vel libero lacus
            vitae, odio mauris non id eu. Accumsan leo nulla vitae, nibh consectetuer ullamco wisi quis, feugiat ac
            ut elit, mattis faucibus conubia pellentesque. Dui sed et accumsan elit, id mollis nisl turpis lacus.
            Augue quam ac pharetra, ligula consequat erat taciti, lacus commodo magnam et, morbi elit lorem orci.
            Pede magna habitant sit sed, torquent quis facilisis turpis, mi eget eu fuga, arcu amet ipsum luctus.
            Velit nec velit vitae cras, ipsum nec non ante nunc.</p>

    </div>
</section>
<section id="FA" class="faq">
    <h2>faq</h2>
    <p>Você pode navegar pelas dúvidas mais frequentes</p>
    <div id="duvidass"> 
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    duvidas sobre pagamento
                    </button>
                </h3>
                </div>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Quais são as formas de pagamento?</li>
                        <li>Existem planos anuais?</li>
                        <li>Para cancelar, é preciso pagar uma taxa de cancelamento?</li>
                    </ul>                
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h3 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    duvidas sobre contato
                    </button>
                </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Após enviar um e-mail para contato, qual é o tempo máximo de espera?</li>
                        <li>O contato é somente feito via internet ou pessoalmente também?</li>
                    </ul>  
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h3 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    duvidas sobre o produto
                    </button>
                </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Esse software é compativel com smartphones?</li>
                        <li>Como o software é passado para os clientes?</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <img src="~/images/duvidas_frequentes.png" alt="">
    </div>
</section>
<section id="black">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0658301189032!2d-46.652983984406674!3d-23.566079067653124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista+-+Bela+Vista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1552476917748" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <footer>
        <ul>
            <li><img src="~/images/1486504365-building-business-real-house-mall-store-company-state_81328.png" alt=""> Agora Vai</li>
            <li><img src="~/images/email_14410.png" alt=""> pontodigital@agoravai.com</li>
            <li><img src="~/images/Citycons_location_icon-icons.com_67931.png" alt=""> Avenida Paulista, São Paulo - SP</li>
            <li><img src="~/images/phone_14402.png" alt=""> 0000-0000</li>
        </ul>
    </footer>
</section>